@import "~normalize.css";
@import "~bootstrap/scss/bootstrap";

@import "fonts";

$text-variable: red;

h1 {
    font-size: 42px;
    color: $text-variable;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'OpenSansBold', sans-serif;
}

.logo {
    background: url("../assets/icon/test-tube.svg");
    background-size: cover;
    height: 40px;
    width: 40px;
}
